@import "mixin.scss";
//UTILITY
.heading{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    @include blend
}
.tdn{
    text-decoration: none;
    color:  #39D442;
}

.U-mb{
    margin-bottom: 13rem;
}

//NAV SESSION
.nav{
    background-color:rgba($color:  #0A0059, $alpha: .9);
    padding:0 10rem;
    position: fixed;
    width: 100%;
    z-index: 100;

    @include respond(tab-port){
        position: absolute;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        
    }

    @include respond(phone){
        position: relative;
    }

    display: flex;
    justify-content: space-between;

    &_brand{
        text-transform: capitalize;
        color: white;
        font-size: 4.5rem;
        color:  #39D442;
        font-weight: 700;

        @include respond(tab-port){
            font-size: 3.5rem;
            font-weight: 400;
            text-align: center;
            
        }
    }

    &_text{
        @include respond(phone){
            position: relative;
        }
    }
    &_list{
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        list-style: none;

         @include respond(phone){
            padding: 1rem;
         }

    }

    &_item,a{
        justify-self: auto;
        text-decoration: none;
        padding: .8rem;
        color: white;
        font-weight: 500;
    }
}

.nav_item:hover{
    background-color: #39D442;
    border-radius: 2.5rem;

    a:active{
        background-color: #39D442;
        border-radius: 2.5rem;
    }
}


//HERO SESSION
.hero{
    position: relative;
    height: 80vh;
    @include respond(tab-port){
        height: 70vh;
    }
    background-image: linear-gradient(to top right,rgba(#0A0059,.6),rgba(#0A0059,.4)),
    url(../imagezz/tech_banner.jpg);
    background-repeat:no-repeat;

    &_para{
        color: white;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-size: 3rem;
        opacity: .8;
        @include respond(tab-port){
            font-size: 3rem;
        }
        &-1{
            color: white;
            display: block;
            letter-spacing: .2rem;
            animation: topDown 3s ease-in;
        }

        &-2{
            display: block;
            animation: bottomUp 3s ease-out;
        }
    }
}

.containerr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    padding:.8rem 2rem;
    background-color:#39D442 ;
    border-radius: 2.5rem;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}


// SESSION PORTFOLIO
.porfolio{
    padding: 10rem 5rem;
    background-image: linear-gradient(to top right, rgba(10, 0, 89, 0.9), rgba(10, 0, 89, 0.9)), url(../imagezz/tech_banner.jpg);
    background-repeat: no-repeat;
    height: auto;
    color: white;
    &_heading{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 4rem;
        color: white;
    }

    &_img:hover{
            outline: .2rem solid #39D442;
            box-shadow: 0 2rem 2rem rgba(black,.7);
            outline-offset: .5rem;
            transform: scale(1.1);
            transition: all .8s;
    }

    .mt-top{
        margin-top: 4rem;
    }

    .para{
        text-transform: capitalize;
        padding: 1rem;
        background-color:rgba(10, 0, 89, 0.925);
        display: inline-block;
        color: white;
    }
}

//SESSION FEATURE
.features{
    padding: 10rem 5rem;

    &_box{
        margin: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respond(tab-port){
            flex-direction: column;
            align-content: center;
        }
    }


    &_one{
        padding: 2rem;
        background-color: #E7EAED;
        border-radius: 1rem;
        max-width: 30%;
        box-shadow: 1rem 2rem 1rem rgba(#0A0059,.4);

        @include respond(tab-port){
            max-width: 50%;
            margin-bottom:2rem;
            padding: 1rem;
        }

        @include respond(phone){
            max-width: 100%;
            margin-bottom:4rem;
        }
    }

    &_icon{
        @include blend
    }

    &_heading{
        margin: .9rem 0;
        text-transform: capitalize;
        font-size: 4rem;
        @include blend
    }

    &_para{
        margin: 2rem;
        font-size: 2.5rem;
    }
}

//FOOTER
.footer{
    background-color: #252526;
    padding: 4rem 2.5rem;

    .contact{
        border-bottom: solid 1px #2bc50c;
        display: flex;
        justify-content: space-evenly;
        @include respond(phone){
            flex-direction: column;
        }
    }

    &_con{
        text-align: center;
        padding: 2rem;
    }

    i{
        padding: 1rem;
        color: white;
    }
}

.brand{
    text-align: center;
    color: grey;
    &-head{
        font-size: 2.5rem;
        text-transform: capitalize;
    }
}
.resize{
    text-align: center;
    font-size: 4rem;
}