
.signupForm{
    padding: 14rem 2rem;
    background-color: rgba(#02A7FF,.4);
    @include respond(phone){
        padding: 3rem 2rem;
    }
}

#uMessage{
    margin-left: 7.5rem;
    @include respond(phone){
        margin: auto;
    }
}
.green{
    color: rgb(75, 5, 238);
    background-color:rgba(white,.7);
    padding: .5rem;
}
.input{
    padding:1.5rem 2rem;
    width: 30%;
    border: none;
    font-family: inherit;
    background-color: rgba($color: white, $alpha: .8);

    @include respond(tab-port){
        width: 50%;
    }
    @include respond(phone){
        width: 90%;
    }


    &:focus{
        outline:none;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .5);
        border-bottom: 3px solid #39D442;
    }

}

.label{
    font-size: 1.5rem;
    margin-top: .7rem;
    font-weight: 500;
    transition: all .3s;
    color: white;
    padding: 1.3rem;
    background-color: rgba(24, 24, 255, 0.87);
    transition: all 1s;

    @include respond(phone){
        display: none;
    }
}

.inputOne{
    padding: 1rem 0;
    margin-left: 1rem;

    span{
        @include respond(phone){
            color: #221969;
            background-color: #B4BCBD;
            padding: .4rem;
        }
    }
}

.subtn{
    padding: 1rem;
    border: none;
    background-color: #39D442;
    color: white;
    margin-left: 2rem;
    box-shadow: 0 1rem 2rem rgba(#02A7FF,.7);

    @include respond(phone){
        width: 90%;
        margin-left: 0;
        margin-bottom: 2rem;
    }
}

.book{

    background-image: linear-gradient(109deg,rgba(white,.7)0%,rgba(white,.7)50%,transparent 74%),
    url(../imagezz/IMG_7950.JPG);
    background-size: 100%;
    padding: 4rem;
    border-radius: .5rem;
    //height: 40rem;
}