@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  50% {
    transform: translateY(50%); }
  80% {
    transform: rotateY(80deg); }
  100% {
    opacity: 1; } }

@keyframes bottomUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  50% {
    transform: translateY(-50%); }
  80% {
    transform: scale(1.1); }
  100% {
    opacity: 1; } }

.heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
  background-image: linear-gradient(rgba(10, 0, 89, 0.9), rgba(10, 0, 89, 0.6));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.tdn {
  text-decoration: none;
  color: #39D442; }

.U-mb {
  margin-bottom: 13rem; }

.nav {
  background-color: rgba(10, 0, 89, 0.9);
  padding: 0 10rem;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between; }
  .nav_fix{
    background-color: rgba(10, 0, 89, 0.9);
    padding: 0 10rem;
    width: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    justify-content: space-between;
  }
  @media (max-width: 900px) {
    .nav {
      position: absolute;
      padding: 0 5rem;
      display: flex;
      flex-direction: column; } }
  @media (max-width: 600px) {
    .nav {
      position: relative; } }
  .nav_brand {
    text-transform: capitalize;
    color: white;
    font-size: 4.5rem;
    color: #39D442;
    font-weight: 700; }
    @media (max-width: 900px) {
      .nav_brand {
        font-size: 3.5rem;
        font-weight: 400;
        text-align: center; } }
  @media (max-width: 600px) {
    .nav_text {
      position: relative; } }
  .nav_list {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    list-style: none; }
    @media (max-width: 600px) {
      .nav_list {
        padding: 1rem; } }
  .nav_item, .nav a {
    justify-self: auto;
    text-decoration: none;
    padding: .8rem;
    color: white;
    font-weight: 500; }

.nav_item:hover {
  background-color: #39D442;
  border-radius: 1.5rem; }

  .nav_item-active{
    background-color: #39D442;
    border-radius: 2.5rem;
  }
.hero {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(to top right, rgba(10, 0, 89, 0.6), rgba(10, 0, 89, 0.4)), url(../imagezz/newBanner.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  }
  @media (max-width: 900px) {
    .hero {
      height: 70vh; } }
  .hero_para {
    color: white;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: .8; }
    @media (max-width: 900px) {
      .hero_para {
        font-size: 3rem; } }
    .hero_para-1 {
      color: white;
      display: block;
      letter-spacing: .2rem;
      animation: topDown 3s ease-in; }
    .hero_para-2 {
      display: block;
      animation: bottomUp 3s ease-out; }

.containerr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.btn {
  padding: .8rem 2rem;
  background-color: #39D442;
  border-radius: 2.5rem;
  text-decoration: none;
  color: white;
  text-transform: capitalize; }

.porfolio {
  padding: 10rem 5rem;
  background-image: linear-gradient(to top right, rgba(10, 0, 89, 0.9), rgba(10, 0, 89, 0.9)), url(../imagezz/tech_banner.jpg);
  background-repeat: no-repeat;
  height: auto;
  color: white; }
  .porfolio_heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    color: white; }
  .porfolio_img:hover {
    outline: .2rem solid #39D442;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.7);
    outline-offset: .5rem;
    transform: scale(1.1);
    transition: all .8s; }
  .porfolio .mt-top {
    margin-top: 4rem; }
  .porfolio .para {
    text-transform: capitalize;
    padding: 1rem;
    background-color: rgba(10, 0, 89, 0.925);
    display: inline-block;
    color: white; }

.features {
  padding: 10rem 5rem; }
  .features_box {
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 900px) {
      .features_box {
        flex-direction: column;
        align-content: center; } }
  .features_one {
    padding: 2rem;
    background-color: #E7EAED;
    border-radius: 1rem;
    max-width: 30%;
    box-shadow: 1rem 2rem 1rem rgba(10, 0, 89, 0.4); }
    @media (max-width: 900px) {
      .features_one {
        max-width: 50%;
        margin-bottom: 2rem;
        padding: 1rem; } }
    @media (max-width: 600px) {
      .features_one {
        max-width: 100%;
        margin-bottom: 4rem; } }
  .features_icon {
    background-image: linear-gradient(rgba(10, 0, 89, 0.9), rgba(10, 0, 89, 0.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .features_heading {
    margin: .9rem 0;
    text-transform: capitalize;
    font-size: 4rem;
    background-image: linear-gradient(rgba(10, 0, 89, 0.9), rgba(10, 0, 89, 0.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .features_para {
    margin: 2rem;
    font-size: 2.5rem; }

.footer {
  background-color: #252526;
  padding: 4rem 2.5rem; }
  .footer .contact {
    border-bottom: solid 1px #2bc50c;
    display: flex;
    justify-content: space-evenly; }
    @media (max-width: 600px) {
      .footer .contact {
        flex-direction: column; } }
  .footer_con {
    text-align: center;
    padding: 2rem; }
  .footer i {
    padding: 1rem;
    color: white; }

.brand {
  text-align: center;
  color: grey; }
  .brand-head {
    font-size: 2.5rem;
    text-transform: capitalize; }

.resize {
  text-align: center;
  font-size: 4rem; }

.signupForm {
  padding: 14rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: white; }
  @media (max-width: 600px) {
    .signupForm {
      padding: 3rem 2rem; } }

#uMessage {
  margin-left: 7.5rem; }
  @media (max-width: 600px) {
    #uMessage {
      margin: auto; } }

.green {
  color: #4b05ee;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem; }

.input {
  padding: 1.5rem 2rem;
  width: 30%;
  border: none;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 900px) {
    .input {
      width: 50%; } }
  @media (max-width: 600px) {
    .input {
      width: 90%; } }
  .input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #39D442; }

.label {
  font-size: 1.5rem;
  margin-top: .7rem;
  font-weight: 500;
  transition: all .3s;
  color: white;
  padding: 1.3rem;
  background-color: rgba(24, 24, 255, 0.87);
  transition: all 1s; }
  @media (max-width: 600px) {
    .label {
      display: none; } }

.inputOne {
  padding: 1rem 0;
  margin-left: 1rem; }
  @media (max-width: 600px) {
    .inputOne span {
      color: #221969;
      background-color: #B4BCBD;
      padding: .4rem; } }

.subtn {
  padding: 1rem;
  border: none;
  background-color: #39D442;
  color: white;
  margin-left: 2rem;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.7); }
  @media (max-width: 600px) {
    .subtn {
      width: 90%;
      margin-left: 0;
      margin-bottom: 2rem; } }

.book {
  background-image: linear-gradient(109deg, rgba(10, 0, 89, 0.9) 0%, rgba(10, 0, 89, 0.9) 50%, transparent 74%), url(../imagezz/codes.jpg);
  background-size: 100%;
  padding: 4rem;
  border-radius: .5rem; }

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  50% {
    transform: translateY(50%); }
  80% {
    transform: rotateY(80deg); }
  100% {
    opacity: 1; } }

@keyframes bottomUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  50% {
    transform: translateY(-50%); }
  80% {
    transform: scale(1.1); }
  100% {
    opacity: 1; } }

.section_hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section{
  transition: transform 1s, opacity 1s;
}
.section_about {
  background-image: linear-gradient(rgba(255, 255, 255, 0.829), rgba(255, 255, 255, 0.849)), url("../imagezz/program.jpg");
  background-size: cover;
  padding: 18rem 0; }
  .section_about-para {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 9rem; }
    @media (max-width: 600px) {
      .section_about-para {
        margin-bottom: 4rem; } }
  .section_about .edu {
    margin-bottom: 1rem; }
  .section_about .edu_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2.5rem;
    list-style: none;
    margin-bottom: 9rem; }
  .section_about .edu_icon {
    border: solid green 2px;
    border-radius: 50%;
    padding: 2rem;
    transition: all .2s; }
    .section_about .edu_icon:hover {
      transform: scale(1.2); }
  @media (max-width: 600px) {
    .section_about {
      margin-top: -15vh; } }

.row {
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 900px) {
    .row {
      flex-direction: column; } }

.meet {
  background-color: green;
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  margin-right: .3rem; }

.U-text-center {
  border: 2px solid #39D442;
  display: inline;
  padding: 2rem;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2rem 2rem 3.5rem rgba(0, 0, 0, 0.904);
  transition: all .2s; }
  .U-text-center:hover {
    transform: scale(1.1); }
  .U-text-center .btn_half {
    background-color: rgba(0, 128, 0, 0.349);
    padding: 1rem;
    color: #1F1768;
    text-decoration: none;
    font-size: 2rem; }

.col-1-of-2 {
  flex: 0 1 40%; }
  @media (max-width: 900px) {
    .col-1-of-2 {
      margin: 0 auto;
      width: 80%; } }
  .col-1-of-2 .tShadow {
    text-shadow: .5rem .5rem .5rem gray; }

.col-2-of-2 {
  flex: 0 1 40%; }
  @media (max-width: 900px) {
    .col-2-of-2 {
      margin-top: 8rem; } }

.features_about {
  padding: 2rem;
  color: black;
  background-color: rgba(30, 22, 100, 0.212);
  border-radius: 1rem;
  max-width: 30%;
  border: 1px solid #1E1664;
  box-shadow: 1rem 2rem 1rem rgba(10, 0, 89, 0.5); }
  .features_about-con {
    top: -5rem;
    position: relative; }
  .features_about-mag {
    margin-top: 5rem; }
  @media (max-width: 900px) {
    .features_about {
      max-width: 100%; }
      .features_about:not(:last-child) {
        margin-bottom: 13rem; } }
  .features_about .iconFloat {
    position: relative;
    top: -10rem;
    border: 1rem solid rgba(30, 22, 100, 0.212);
    border-radius: 50px;
    padding: 2rem; }

.composition {
  position: relative;
  margin-top: 6rem; }
  .composition_photo {
    position: absolute;
    width: 35%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    z-index: 10; }
    @media (max-width: 900px) {
      .composition_photo {
        width: 30%;
        position: relative;
        border-radius: 1rem;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); } }
    .composition_photo-p1 {
      top: -5rem;
      left: 0; }
      @media (max-width: 900px) {
        .composition_photo-p1 {
          top: 0;
          left: 2.5rem;
          transform: scale(1.1); } }
    .composition_photo-p2 {
      top: -5rem;
      right: 15rem; }
      @media (max-width: 900px) {
        .composition_photo-p2 {
          top: -1rem;
          right: -1.5rem;
          z-index: 100;
          transform: scale(1.2); } }
    .composition_photo-p3 {
      top: 8rem;
      left: 25%; }
      @media (max-width: 900px) {
        .composition_photo-p3 {
          top: 0;
          left: 0.7rem;
          transform: scale(1.1); } }
    .composition_photo:hover {
      z-index: 20;
      outline: .6rem solid #39D442;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.7);
      outline-offset: 1rem;
      transform: scale(1.1);
      transition: all .2s; }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95); }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 1200px) {
    html {
      font-size: 56.5%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 46.5%; } }

body {
  box-sizing: border-box;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  line-height: 1.7; }
